/* general-style: main */

/* the principal styles application */
* {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: justify;
}

/* style-logo bird */
.logo-size-style {
    position: fixed;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 0 auto;
    left: 35px;
    top: 18px;
}

/* style of container div principal */
.styleDivContainer {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0 auto;
    right: 37.6%;
    transform: translate(-55%, 10%);
}

/* input-txt principal when the cliente put contents for post */
.inputContentPrincipal {
    width: 200%;
    height: 100px;
    font-style: normal;
    text-align: justify;
    border-radius: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5pt;
}

/* style of Character Counter */
.CharacterCounter {
    font-size: 11pt;
    position: relative;
    top: -74.5px;
    left: 140.5%;
    transform: translate(2.5%, 0%);
    width: 0;
}

/* style-button clear all content */
.buttonClearAll {
    position: relative;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    height: 50px;
    text-align: center;
    background-color: #2ab2ec;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: white;
}

/* button of delete content indididual post */
.individualDeleteContent {
    position: relative;
    display: block;
    left: 40%;
    width: 20%;
    height: 40px;
    background-color: #2ab2ec;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    text-align: center;
    transform: translate(0px, 15px);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}
.individualDeleteContent:hover, .buttonClearAll:hover {
    background-color: #2ab2ece8;
}

/*
===============================BREAK====================================
*/

/* format style of content posted per client */
.ContentBoxMain {
    position: absolute;
    width: 200.9%;
    height: 110px;
    font-size: 14pt;
    box-sizing: border-box;
    top: 125%;
    padding-top: 15px;
}

/* color warning limite text  */
.colorWarningLimiteText {
    display: block;    
    transform: translate(0px, -1em);
    position: absolute;
    top: -30px;
    color: rgba(255, 0, 0, 0.938);
}

/* style-li: content post */
.liContentStyle {
    position: relative;
    margin: 0 0 -25px 0;
    top: -30px;
    margin: 0px 3px 0 0;
    background-color: rgba(83, 83, 83, 0.034);
}

/* image profile of user */
.imageUser {
    position: relative;
    border-radius: 25%;
    display: flex;
    width: 8.5%;
    left: -45.6%;
    top: 0px;
}

/* name user, nickname of user and checked */
.nameUser {
    position: relative;
    font-size: 12pt;
    text-indent: 9.3%;
    top: -50px;
    font-weight: bold;
    margin: 0 0 0 0;
}

/* nickname user */
.userNickName {
    position: relative;
    font-size: 9pt;
    text-indent: 9.3%;
    top: -67.2px;
    left: -17.8%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.815);
    cursor: pointer;
    width: 0px;
}

/* content posted */
.textContentPosted {
    word-break: break-all;
    text-align: justify;
    position: relative;
    margin: 0 65px 0 0;
    left: 9.4%;
    transform: translate(0px, -60px);
}

/* user verification */
.verificationCertificate {
    position: absolute;
    display: flex;
    width: 22px;
    height: 22px;
    top: 21px;
    left: 0%;
    transform: translate(114px, -45.5px);
    cursor: pointer;
}