/* general-style: main */

/* the principal styles application */
* {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: justify;
}

/* style-logo bird */
.logo-size-style {
    position: fixed;
    cursor: pointer;
    margin: 0 auto;
    left: 35px;
    top: 15px;
    display: inline-block;
    height: 2.5rem;
}

/* style of container div principal */
.styleDivContainer {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0 auto;
    right: 37.6%;
    transform: translate(-55%, 10%);
}

/* input-txt principal when the cliente put contents for post */
.inputContentPrincipal {
    width: 200%;
    height: 100px;
    font-style: normal;
    text-align: justify;
    border-radius: 16px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5pt;
}

/* style of Character Counter */
.CharacterCounter {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    font-size: 11pt;
    top: -42px;
    left: 138%;
    width: 0;
}

/* style-button clear all content */
.buttonClearAll {
    position: relative;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    height: 50px;
    text-align: center;
    background-color: #2ab2ec;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: white;
}

/*
===============================BREAK====================================
*/

/* main-format style of content posted per client */
.mainFormat {
    position: absolute;
    display: block;
    width: 200.9%;
    font-size: 14pt;
    top: 79%;
    transform: translate(0px, 65.5px);
}

/* color warning limite text  */
.colorWarningLimiteText {
    display: flex;
    transform: translate(0px, -1em);
    position: absolute;
    top: -9%;
    color: rgba(255, 0, 0, 0.938);
}

/* style-li: content post */
.liContentStyle {
    position: relative;
    display: flexbox;
    margin: 0 auto;
    padding: 0 0 5% 0;
    height: 160px;
}

/* image profile of user */
.imageUser {
    position: relative;
    border-radius: 100%;
    display: block;
    width: 8.5%;
    left: -45.6%;
    top: 0px;
    cursor: pointer;
    padding: 0;
    margin: 0 auto;
}

/* name user, nickname of user and checked */
.nameUser {
    position: relative;
    display: inline;
    font-size: 12pt;
    text-indent: 9.3%;
    top: -50px;
    left: 56px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
}

/* nickname user */
.userNickName {
    position: relative;
    display: inline;
    font-size: 9pt;
    text-indent: 9.3%;
    top: -52.2px;
    left: 12.7%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.815);
    cursor: pointer;
    width: 0px;
}

/* user verification */
.verificationCertificate {
    position: absolute;
    display: flex;
    width: 22px;
    height: 22px;
    top: 29px;
    left: -0.2%;
    transform: translate(117px, -50px);
    cursor: pointer;
}

/* content posted */
.textContentPosted {
    position: absolute;
    word-break: break-all;
    hyphens: auto;
    display: flex;
    text-align: justify;
    position: relative;
    margin: 0 65px 0 0;
    left: 9.4%;
    top: 5px;
    transform: translate(0px, -56px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* button of delete content indididual post */
.individualDeleteContent {
    position: absolute;
    display: inline-flex;
    top: 35px;
    left: 75%;
    width: 20%;
    height: 40px;
    transform: translate(0px, 50px);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #2ab2ec;
    color: white;
    align-items: center;
    justify-content: center;
}

.individualDeleteContent:hover,
.buttonClearAll:hover {
    background-color: #1ea0d8e8;
}

/* null */
.CharacterCounterPosition {
    background-color: rebeccapurple;
    transform: translate(7.9px);
}